@media (max-width: 1508px) {
    .combo .combo-inner .navigation-btn .prev-slide-combo {
        left: -4em;
    }
}
@media (max-width: 1424px) {
    .combo .combo-inner .navigation-btn .prev-slide-combo {
        left: 0em;
    }
}
@media (max-width: 1360px) {
    .catalog .catalog-inner .next-slide {
        left: 85em;
    }
    .catalog .catalog-inner .prev-slide {
        left: 0em;
    }
}
@media (max-width: 1360px) {
    .combo .combo-inner .slider {
        margin: 0 0 0 0;
    }
    .combo .combo-inner::after {
        width: 306px;
        right: -1.2em;
    }
}
@media (max-width: 1270px) {
    .combo .combo-inner::after {
        width: 285px;
        right: -0.2em;
    }
}
@media (max-width: 1225px) {
    .combo .combo-inner::after {
        width: 245px;
    }
    .gifts .gifts-inner .toggle .toggle-items .slide-btn {
        margin: 0 0 0 1054px;
    }
    .catalog .catalog-inner .next-slide {
        left: 82em;
    }
    .catalog .catalog-inner .catalog-items .catalog__block.visible {
        margin-right: -550px;
    }
}
@media (max-width: 1180px) {
    .combo .combo-inner::after {
        width: 203px;
    }
    .combo .combo-inner .navigation-btn .next-slide-combo {
        left: 79em;
    }
    .gifts .gifts-inner .toggle .toggle-items .slide-btn {
        margin: 0 0 0 1029px;
    }
    .catalog .catalog-inner .next-slide {
        left: 80em;
    }
}
@media (max-width: 1160px) {
    .combo .combo-inner::after {
        width: 176px;
    }
    .gifts .gifts-inner .toggle .toggle-items .slide-btn {
        margin: 0 0 0 1003px;
    }
    .catalog .catalog-inner .next-slide {
        left: 77em;
    }
    .combo .combo-inner .navigation-btn .next-slide-combo {
        left: 77em;
    }
    .gifts .gifts-inner .toggle .toggle-items .toggle__item {
        width: 860px;
    }
}
@media (max-width: 1130px) {
    .combo .combo-inner::after {
        width: 161px;
    }
}
