/* 
reset
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* 
reset
*/
body {
    background-color: #f9fbff;
}
// header
.container {
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 15px;
}
@mixin textMX($wg, $fm, $sz, $cl, $lh) {
    color: $cl;
    font: {
        weight: $wg;
        family: $fm, sans-serif;
        size: $sz;
    }
    line-height: $lh;
}
.header {
    background: url(./assets/img/header/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    .header-inner {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        .left-side {
            width: 22%;
            padding: 76px 0 0 0;
            .logo {
                margin-bottom: 406px;
            }
            .quotes {
                @include textMX(900, "Montserrat", 54px, #415167, 70px);
                margin-bottom: 35px;
                span {
                    background-color: #c7a17a;
                    color: #fff;
                    padding: 5px 10px;
                }
            }
        }
        .video {
            align-items: center;
            justify-content: center;
            display: flex;

            .videon-btn {
            }
        }
        .video.active {
            background-color: darkblue;
        }

        .right-side {
            background-color: #415167;
            width: 22%;
            padding: 76px 0 0 0;
            .menu {
                .menu__list {
                    li {
                        margin-bottom: 35px;
                        @include textMX(400, "Nunito", 16px, #edf0f5, 24px);
                        margin-left: 56px;
                    }
                    a {
                        color: #edf0f4;
                    }
                    a:hover {
                        content: "";
                        font-weight: 700;
                    }
                    .cart {
                        margin-bottom: 122px - 35px;
                    }
                    // .cart__active{}
                }
            }
        }
    }
}
//popup
.popup-video {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transform: scale(0);
    .popup-body {
        transform: scale(0);
        transition: all 0.7s ease-in 0s;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .popup-content {
            position: relative;
            .video-player {
            }
            .close-button {
                margin: 0 0 34em;
                cursor: pointer;
            }
        }
    }
}
.popup-video.active {
    transition: transform 0.7s cubic-bezier(0.7, 0, 0.84, 0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    .popup-body {
        transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: scale(1);
    }
}
//popup
// header

//store inf
.storeInform {
    padding: 87px 0 128.43px 0;
    .storeInform-inner {
        text-align: center;
        .title {
            @include textMX(600, "Nunito", 20px, #415167, 24px);
            margin-bottom: 7px;
        }
        .subtitle {
            @include textMX(900, "Montserrat", 30px, #415167, 34px);
            margin-bottom: 72.28px;
        }
        .advantages-items {
            display: flex;
            .advantages__item {
                margin-left: 66px;
                .img__item {
                    margin-bottom: 41.5px;
                }
                .title__item {
                    @include textMX(700, "Nunito", 24px, #232c38, 28px);
                    margin-bottom: 12.11px;
                }
                .inf {
                    @include textMX(400, "Nunito", 16px, #151d28, 22px);
                }
            }
        }
    }
}
//store inf

.catalog {
    .catalog-inner {
        .title {
            @include textMX(600, "Nunito", 20px, #415167, 24px);
            text-align: center;
        }
        .subtitle {
            @include textMX(900, "Montserrat", 30px, #415167, 34px);
            text-align: center;
        }
        // .backcolor {
        // }
        .catalog-items {
            display: flex;
            margin:  0 -21em 0;
            .catalog_block {
                margin-right: 30px;
                .catalog__item {
                    margin-bottom: 32px;
                    background-color: #fff;

                    .photo {
                    }
                    display: flex;
                    .text {
                        
                        .price {
                            @include textMX(600, "Nunito", 20px, #c7a17a, 24px);
                            margin-bottom: 17px;
                            margin-left: 45px;
                        }
                        .title {
                            @include textMX(700, "Nunito", 24px, #232c38, 28px);
                            margin-bottom: 34px;
                        }
                        .inf {
                            @include textMX(400, "Nunito", 16px, #151d28, 22px);
                            margin-bottom: 36px;
                            margin-left: 45px;
                        }
                        .cart-btn {
                            
                            .in__cart {
                                border-radius: 19px;
                                background: #c7a17a;
                                @include textMX(700, "Nunito", 16px, #f9fbff, 22px);
                                margin-right: 29px;
                                margin-left: 45px;
                            }
                            .deetails {
                                @include textMX(700, "Nunito", 16px, #415167, 22px);
                            }
                        }
                    }
                }
            }
        }
    }
}
